<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585987092322-383au33jm6bfte8gd621pvhqeb8e0m5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585987092322-383au33jm6bfte8gd621pvhqeb8e0m5d</string>
	<key>API_KEY</key>
	<string>AIzaSyCdm-H7725xXhSqBUHZF8PKuvozFDhpP44</string>
	<key>GCM_SENDER_ID</key>
	<string>585987092322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GustavoFeliciano.UberTutorial</string>
	<key>PROJECT_ID</key>
	<string>ubertutorial-b26e4</string>
	<key>STORAGE_BUCKET</key>
	<string>ubertutorial-b26e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:585987092322:ios:24376ff710ae61e4ef063b</string>
	<key>DATABASE_URL</key>
	<string>https://ubertutorial-b26e4.firebaseio.com</string>
</dict>
</plist>
